* {
    box-sizing: border-box;
}

body {
    background-color: #f1f2f6;
    margin: 0;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    color: #1c1e21;
}

.container {
    width: 80%;
    margin: 180px auto 0 auto;
}

.left {
    float: left;
    width: 50%;
    margin-top: 5%;
}

.right {
    float: right;
    width: 50%;
}

.cb {
    clear: both;
}

.fbh2 {
    font-weight: lighter;
    line-height: 32px;
    font-size: 28px;
}

.right form {
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    background-color: white;
    width: 80%;
    margin-left: 20%;
    padding: 16px;
    padding-bottom: 30px;
    text-align: center;
}

.right form a {
    text-decoration: none;
    color: #1877f3;
    font-size: 14px;
}

.right form a:hover {
    text-decoration: underline;
}

.right form hr {
    margin: 10px 0 10px 0;
    border-bottom: 1px solid #dadde1;
    line-height: 1.34;
    opacity: 50%;
}

.right form input {
    width: 100%;
    border-radius: 5px;
    font-size: medium;
    padding: 15px 10px;
    margin-bottom: 14px;
    border: solid lightgray 1px;
}

.right form input.bg-verde {
    margin: 20px auto 0 auto;
    width: 50%;
    background-color: #36a420;
    border: none;
    color: white;
    font-size: medium;
    font-weight: bold;
}

.right form input.bg-verde:hover {
    background-color: #2b8019;
    cursor: pointer;
}

.right form input.bg-azul {
    background-color: #1877f3;
    border: none;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.right form input.bg-azul:hover {
    background-color: #1257b1;
    cursor: pointer;
}

.right p {
    width: 80%;
    margin-left: 20%;
    font-size: 14px;
}

.right p a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.right p a:hover {
    text-decoration: underline;
}